<!DOCTYPE html>
<html>

	<head>
    	<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta charset="UTF-8">
		<title>登录</title>
		<style type="text/css">
			body{ text-align: center;}
		</style>
	</head>

	<body>
		<!-- login.html -->

		<p>登录页面</p>
		<div>
			<form action="/login" method="post">
				<p>
					<label for="username">用户名</label>
					<input type="text" id="username" name="username" placeholder="用户名">
				</p>
				<p>
					<label for="password">密码 : </label>
					<input type="text" id="password" name="password" placeholder="密码">
				</p>
				<p>
					<input type="submit" value="登录">
				</p>
			</form>
		</div>
	</body>

</html>