* { -webkit-touch-callout:none; /*在iOS上触摸并按住触摸目标时候，禁止或显示系统默认菜单。*/ -webkit-backface-visibility: hidden; /* 隐藏被旋转的 div 元素的背面，解决css3动画在安卓下卡顿问题 */}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block }
audio:not([controls]) { display: none; height: 0 }
html { width:100%; height: 100%; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; min-height: 100%; width: 100%; background: #fff; color: #232736; font: 12px/1.5 "Microsoft Yahei", sans-serif; tap-highlight-color: rgba(143,142,148,0.08); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(143,142,148,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);  }
a { background: transparent }
a.white{ color:#fff;}
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
h1 { font-size: 2em; margin: 0.67em 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0 }
mark { background: #ff0; color: #000 }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em }
pre { white-space: pre-wrap }
q { quotes: "\201C" "\201D" "\2018" "\2019" }
small { font-size: 80% }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0; width:100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0; padding: 0 }
button, input { line-height: normal }
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] {-webkit-appearance: none;}
button, select { text-transform: none }
input{ outline:none; font-family:"Microsoft Yahei"}
input[type="button"], input[type="submit"]{ cursor:pointer}
.disbox {
	display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
  -ms-flex-direction: row;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-flex-align: center;
  -webkit-flex-pack: start;
  -webkit-flex-wrap: wrap;
  -moz-flex-direction: row;
  -moz-flex-align: center;
  -moz-flex-pack: start;
  -moz-flex-wrap: wrap;
  direction: row;
  align: center;
  pack: start;
  wrap: wrap;}

.displaybox{/*鑰佽鑼�*/
			/*display:-moz-box; 
			display:-webkit-box;
			display:box;
	   -moz-box-align: center;
  	-webkit-box-align: center;
  	 		box-align: center; */
  	 		/*鏂拌鑼�*/
			display:-moz-flex;
			display:-webkit-flex;
			display:flex;
	   -moz-align-items: center;
	-webkit-align-items: center;
	        align-items: center; 
	       }
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;/*鑰佽鑼�*/ -moz-flex:1; -webkit-flex:1; flex:1;/*鏂拌鑼�*/ display: block;}
/*涓哄吋瀹筈Q銆乁C绛夊叾浠栨祻瑙堝櫒锛岃鍏冪礌蹇呴』涓哄潡绾у厓绱狅紝灞炴�т负display:block*/
.boxalign { -webkit-box-align: center !important; box-align: center !important; -webkit-align-items: center !important; align-items: center !important }
.boxalignstart { -webkit-box-align: start !important; box-align: start !important; -webkit-align-items: flex-start !important; align-items: flex-start !important }
.boxalignend { -webkit-box-align: end !important; box-align: end !important; -webkit-align-items: flex-end !important; align-items: flex-end !important }

.wp0{ width: 0%;}
/*寮规�х洅瀛愭寜姣斾緥鍒嗛厤鐨勫垪鐨勫搴︿笉瀵癸紝瑙ｅ喅鍔炴硶濡備笅銆�
html5寮规�х洅瀛愪腑鎸夌収姣斾緥鍒嗚В鐨勫垪閮藉姞涓� width: 0%; 宸茬粡鏈夊浐瀹氬�肩殑鍒椾笉闇�瑕佸姞锛屽師鍥犱笉鏄庛�傝繖涓簲璇ユ槸CSS3鏂板睘鎬�  box-orient  娌℃湁瀹屽杽鐨勫師鍥犮��
<textarea></textarea>鏍囩椤诲姞涓奷isblock灞炴��*/

h1, h2, h3, h4, h5, h6, p { margin: 0 }
ul, ol, li { list-style: none; }
div, p, ul, ol { margin: 0; padding: 0 }
a { text-decoration: none; color: #000; cursor: pointer }
a:focus { outline: none; }
img { /* max-width: 100% */ }
[class^="icon-"], [class*=" icon-"] { display:inline-block; vertical-align:text-bottom }
.tbl{ display:table;}
.tbl-cell{ display:table-cell;}
.inline-table{ display:inline-table !important;}
.align-top{ vertical-align:top;}
.disblock { display: block !important; }
.pos-relative { position: relative; }
.group:after { content: ""; display: table; clear: both }
.line-through { text-decoration: line-through }
.clear-margin { margin: 0 !important }
.left { float: left }
.right { float: right }
.t-left { text-align: left !important; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.ui_hide, .hide { display: none !important }
.dsn{ display:none}
.lineheight0{ line-height:0 !important}
.p00 { padding: 0 !important }
.p010 { padding: 0 10px !important; }
.ptop5 { padding-top: 5px !important }
.pt10 { padding-top: 10px !important }
.pb10 { padding-bottom: 10px !important }
.pb15 { padding-bottom: 15px !important }
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important }
.ptb15 { padding-top: 15px !important; padding-bottom: 15px !important }
.ptb1020 { padding-top: 10px !important; padding-bottom: 20px !important }
.p210 { padding:2px 10px !important }
.p510 { padding:5px 10px !important }
.p10 { padding: 10px !important }
.m10 { margin: 10px !important }
.m100 { margin: 10px 0 !important }
.pt20 { padding-top: 20px !important }
.pb0{ padding-bottom:0 !important;}
.pb20 { padding-bottom: 20px !important }
.pb200{ padding-bottom:200px;}
.pbfooter { padding-bottom: 56px; }
.ptb20 { padding: 20px 0 !important; }
.p20 { padding: 20px }
.m010{ margin:0 10px !important;}
.p2010 { padding: 20px 10px; }
.m0{ margin:0 !important}
.m20 { margin: 20px }
.mtb30 { margin: 30px 0; }
.mtop0 { margin:0 auto !important; }
.mtop2 { margin-top: 2px; }
.mtop3 { margin-top: -3px; }
.mtop4 { margin-top: -4px; }
.mtop5 { margin-top: 5px; }
.mtop10 { margin-top: 10px !important; }
.mtop20 { margin-top: 20px; }
.mleft10 { margin-left: 10px; }
.mright5{ margin-right:5px;}
.mright15{ margin-right:15px;}
.mright10{ margin-right:10px;}
.mright20{ margin-right:20px !important;}
.bold { font-weight: bold }
.normal{ font-weight:normal;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.red { color: #f2482c !important; }
.grey{ color:#8e8e93 !important;}
.black{ color:#232736 !important;}
.white{ color: #ffffff !important;}
.blue{ color:#43a8eb !important;}
.bggrey{ background:#f5f5f9 !important;}
.bggrey01{ background:#697486 !important;}
.bggrey02{ background:#efeff4 !important;}
.divide-box{ margin: 0 auto; height:15px; background: #f5f5f9;}
.borderleft{ border-left:1px solid #e2e1e4 !important;}
.borderright{ border-right:1px solid #e2e1e4 !important;}
.borderrightwhite{ border-right:1px solid #fff !important;}
.bordertop{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.borderbottom{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.bordertopgrey{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.bordertbgrey{ border-top:1px solid #e2e1e4; border-bottom: 1px solid #e2e1e4; border-width:1px 0 1px 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.noborder{ border:none !important;}
.tap-nobg{ tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}

.input-normal { border: solid 1px #ecebeb; background-color: #fff; padding: 0 4px; color: #232736;}
textarea { overflow: auto; vertical-align: top; resize:none }
.ui-btn, input.ui-input, textarea.ui-textarea, .geo-city-hot, .geo-city, .grst-filter-dropdown, .mdish-minus, .mdish-price, .rinfo-data, .cdish-control, .cdish-edit { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.mdish-minus, .mdish-price { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.fantasia-header, .header-title.flex {}
.fantasia-header, .header-title.flex {}
.fantasia-header a { color: #232736; }
.mdish-controls { -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch }
.ui-center-container, .header-title.flex { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center }
.dblock-content { -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end }
.fantasia-svg, .mdish-minus, .cdish-remove { position: relative }
.fantasia-svg:after, .mdish-minus:after, .cdish-remove:after { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: transparent }
.fantasia-logo, .header-back { padding: 0 0 0 10px }
.header-user-info, .header-helper { padding: 0 10px 0 0 }
.fantasia-header { position: relative; z-index: 20; width:100%; height: 44px; background:#fff; color: #232736; line-height: 44px; font-size:.85rem
}
.fantasia-logo { display: block }
.header-user-info { font-size: 0.75rem }
.header-title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: absolute; top: 0; bottom: 0; left: 65px; right: 65px; overflow: hidden; margin: 0; text-align: center; font-size: 1.05rem; color: #232736;}
.header-title img{ width:364px; vertical-align:middle;}
.header-back { display: block; position: relative }
.header-menu { display: block; padding: 0 10px }
.header-helper { display: block }

.shopping-cart{ float:right;}
.shopping-cart img{ position: relative; z-index: 1; width:28px; vertical-align:middle;}

.item-flyer { display: block; width: 40px; height: 40px; border-radius: 50px; position: fixed; z-index: 9999; }

.back-arrow{ width:10px; margin-top:12px;}
.icon-share{ width:18px; margin-top:12px;}
.share-link{ display:block; float:left; text-align:center; font-size:12px; line-height:30px; margin:0 15px 0 0;}
.share-link img{ margin-left:0 !important; }

/* 鐒︾偣鍥� */

.slideBox { position: relative; overflow: hidden; margin: 0 auto 0; background: #fff; max-width: 560px; /* 璁剧疆鐒︾偣鍥炬渶澶у搴� */ }
.slideBox .hd { position: absolute; height: 18px; line-height: 18px; bottom: 0; left:50%; transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0);  z-index: 1; }

.slideBox .hd li {overflow: hidden; margin: 0 3px; text-indent: -9999em; width: 6px; height: 6px; display: inline-block; border-radius: 100%; background: url(./../images/dot_black.png) center top no-repeat; background-size: 6px 6px; opacity: 0.2;}
.slideBox .hd li.on {opacity: 0.8; background: url(./../images/dot_red.png) center top no-repeat; background-size: 6px 6px; }
.slideBox .bd { position: relative; z-index: 0; border-top: 1px solid #ecebeb;}
.slideBox .bd li { position: relative; text-align: center; }

.slideBox .bd li img { vertical-align: top; width: 100%; height: 100%; min-height: 120px;/* 鍥剧墖瀹藉害100%锛岃揪鍒拌嚜閫傚簲鏁堟灉 */ }
.slideBox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); font-size: 14px } /* 鍘绘帀閾炬帴瑙︽懜楂樹寒 */
.slideBox .bd li .tit { display: block; width: 100%; position: absolute; bottom: 0; text-indent: 10px; height: 28px; line-height: 28px; background: url(./../images/focusBg.png) repeat-x; color: #fff; text-align: left; }
/* tab鏍囩 */
.tabBox { margin: 0 auto; padding: 0; background: #f5f5f9; font: normal 12px/120% "Microsoft Yahei", helvetica, arial; overflow:hidden; }
.tabBox .hd { height: 40px; line-height: 40px; font-size: 16px; border-top: 1px solid #ecebeb; padding: 10px 10px 0; }
.tabBox .hd h3 { float: left; font-size: 24px; }
.tabBox .hd h3 span { color: #ccc; font-family: Georgia; margin-left: 10px; }
.tabBox .hd ul{ width:100%; height:40px; overflow:hidden;}
.tabBox .hd ul li { float: left; padding: 0; vertical-align: top; text-align:center; }
.tabBox .hd ul li.on a { color: #e03846; height: 38px; line-height: 38px; border-bottom: 3px solid #e03846; }
.tabBox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.sectionBox { margin: 0 auto; background: #fff; font: normal 12px/120% "Microsoft Yahei", helvetica, arial; overflow: hidden; }
.con { background: #f5f5f9; height: auto; padding: 0 0 10px; }
.info { position: relative; width:100%; padding-bottom:20px; line-height: 1.2; overflow:hidden;}
.info .title { font-size: 14px; line-height:140%; }
.info .message { margin: 5px 0; line-height:140%; color:#8e8e93; }
.info .special { width:100%; padding: 10px 0; }
.info .special .special-text { margin-top: 1px }
.item-pic-big { width: 100%; }
.item-list { padding-bottom: 10px; }
.item-list li { width: 49%; margin-right: 2%; }
.item-list li .item-list-small{ background:#fff; padding-bottom:25px; border:1px solid #e1e1e1; box-shadow:#eaeaeb 0 2px 0;}
.item-list li .item-list-small .item-list-img{ margin-bottom:5px; vertical-align:middle; overflow:hidden;}
.item-list li .item-list-small .item-list-img{ width: calc((100vw - 20px) * 49) / 100 !important; height: calc(((((100vw - 20px) * 49) / 100) * 249) / 263) !important; max-width: 263px; max-height: 249px;}
.item-list li .item-list-small .item-list-img img{ width:100%; height:100%; max-width:none;}
/*.item-list li .item-list-small .item-list-img img{ vertical-align:middle;}*/
.item-list li:last-child { margin-right: 0; }
.item-list li a { line-height: 20px; }
.item-name { margin: 0 10px; padding: 0; height: 36px; font-size:14px; line-height: 18px; word-break: break-all; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

.info-text{ background:#fff; border:1px solid #e3e3e3; border-top:0; padding:10px;}

/*鍟嗗搧鍒楄〃*/
.item-info{ vertical-align:top; overflow:hidden;}
.item-img-small{ width:50px; height: 50px; margin:0 10px 0 0; overflow: hidden;}
.item-img-small img{ min-width:50px; min-height: 50px; border-radius:4px;}
.item-sort{ font-size:14px; padding:10px; border-bottom: 1px solid #ecebeb;}
.item-sort input{ margin-top:-3px;}
.item-check-box{ display:block; width:40px; height:40px; background:url(./../images/item-checked.png) no-repeat; background-size:40px; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}
.item-checked{ background-position:0 -40px;}
.all-check{ float:left; margin:-13px 0 0;}
.single-check{}
.item-price{ padding:15px 10px; border-top: 1px solid #ecebeb; overflow:hidden;}
.border-dashed{ border-bottom:1px dashed #ecebeb;}
.border-bottom03{ border-bottom:3px solid #ecebeb;}
.shoppingPage .item-sort{ padding:10px 10px 10px 0;}
.shoppingPage .p010{ padding:0 10px 0 0 !important;}

.item-standard{ padding:0; border-top: 1px solid #ecebeb; border-bottom: 1px solid #ecebeb; overflow:hidden;}
.item-standard .title{ height:40px; line-height:40px; overflow:hidden; cursor:pointer;}
.item-standard .title .left{ margin-left:10px;}
.item-standard .title .item-arrow-show{ float:right; margin:15px 10px 0 0;; width:16px; height:9px; background:url(./../images/info-arrow.jpg) no-repeat; background-size:16px;}
.item-standard .title .arrow-down{ background-position:0 -9px;}
.item-standard .name{ white-space:nowrap;}
.item-standard .size{ margin:10px 0 0 0;}
.item-standard .number{ margin:10px 0;}
.item-standard .number .name{ margin-right:15px; height:30px; line-height:30px;}

.standards{ padding-left:15px;}
.standards span{ display:inline-block; margin:6px 10px 6px 0; vertical-align:middle; padding:10px; border:1px solid #ecebeb; cursor:pointer; overflow:hidden;}
.standards span.on{ border:1px solid #e03846; background:url(./../images/item-selected.jpg) no-repeat right bottom; background-size:9px 9px;}




/*鎸夐挳 鏍囩*/
.join-btn { font-size: 16px; font-weight: bold; padding:10px 10px; margin:-23px -10px 0 0; cursor:pointer; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); outline:none}
.join-btn img{ width:32px; margin-top:-5px; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); outline:none}
.btn-tag { padding: 8px 10px; border-radius: 2px; background: #679D3C; font-size: 12px; line-height: 18px; color: #fff; }
.exchang-btn { position: absolute; bottom: 42px; right: 10px }
.exchang-btn img{ width:32px; margin-top:2px;}
.exchang-btn a:first-child{ margin-right:10px;}
.exchang-fixed { position: fixed; width: 100%; bottom: 0; z-index: 999;}
.exchang-fixed .join-cart{ position:absolute; left:15%; right:15%; top:-50px; padding:5px 0; font-size:12px; color:#fff; text-align:center;}
.exchang-fixed .join-cart .join-cart-bg{ position:absolute; top:0; bottom:0; left:0; right:0; background:#000; border-radius:4px; opacity:0.7; z-index:-1;}
.exchang-fixed .btn-fixed{}
.exchang-fixed .btn-fixed .btn-buy { width: 55%; text-align: center; }
.exchang-fixed .btn-fixed .btn-cart { width: 100%; text-align: center; }
.exchang-fixed .btn-fixed a { display: block; color: #fff; height: 56px; line-height: 56px; font-size: 16px; }
.exchang-fixed .shopping-cart{ position:relative; text-align: center; width:15%; min-width: 80px; font-size:12px;}
.exchang-fixed .shopping-cart .item-num{ position:absolute; top: 8px; right: 18px; z-index: 9; font-size:12px; font-weight:normal; color:#fff; width: 18px; height: 18px; line-height:18px; border-radius:100px;}

.exchang-fixed .item-all-check{ position:relative; float:left; width:75px;}
.exchang-fixed .item-all-check label{ float:left; margin:7px 0 0 0;}
.exchang-fixed .btn-delete{ top:-5px;}
.exchang-fixed .total-price{ text-align:right; line-height:16px; padding-right: 30px;}
.exchang-fixed .btn-pay{ width: 100px;}
.exchang-fixed .btn-pay a { display: block; padding:0 10px; min-width:70px; text-align:center; color: #fff; height: 56px; line-height: 56px; font-size: 16px; }

.keyword-tag { margin-right: 5px; padding: 1px 2px; border-radius: 2px; background: #679D3C; font-size: 12px; line-height: 18px; color: #fff; }
.btn-num { font-size: 24px; text-align:center; vertical-align:middle; font-weight: bold; outline: none; border: solid 1px #4a4b5b; width: 28px; height: 28px; line-height: 28px; color: #232736; cursor:pointer; }
.btnReduce{ border-right:0; font-size: 30px; line-height: 28px;}
.btnAdd{ border-left:0;}

/* ios hack safari7.1+ */
_::-webkit-full-page-media, _:future, :root .btnReduce { line-height: 80%;}
_::-webkit-full-page-media, _:future, :root .btnAdd { line-height: 100%;} 
_::-webkit-full-page-media, _:future, :root .itemNum { line-height: 180%;}

.market-price { margin: 5px 0 0 0; text-decoration: line-through; color: #8e8e93; }
.market-price-small { margin: 0 0 0 5px; text-decoration: line-through; color: #8e8e93; }

/*鐧诲綍娉ㄥ唽*/
.tab-head ul li { display:block; height:40px; text-align: center; overflow:hidden; }
.tab-head ul li a { padding-bottom:8px; overflow:hidden; }
.form-list { width: 80%; margin: 0 auto; text-align: center; }
.form-list dt { display:table; width:100%; margin-top: 20px; }
.form-list dt .input-name { display:table-cell; width: 60px; text-align: right; height: 36px; line-height: 36px; vertical-align:middle; }
.form-list dt .input-normal { display:table-cell; width:90%; height:36px; line-height:36px; }
.btn-normal { width: 80%; margin: 20px auto; border: none; color: #fff; background: #C00; border-radius: 2px; height: 36px; line-height: 36px; font-size: 16px; }

.wp30{ width:33.3% !important;}
.wp50{ width:50% !important;}

.info-list { width: 100%; _width: 90%; background: #e5e5e5; font-size: 12px; }
.info-list tr { background: #fff; }
.info-list tr td { padding: 10px; line-height: 22px; text-align: left; }
.info-list tr.title td { background: #f7f7f7; font-weight: bold; }
.info-list thead tr th { background: #f7f7f7; font-weight: bold; font-size: 14px; padding: 10px; line-height: 22px; text-align: left; }
.info-list tr.title01 td { background: #e5e5e5; font-size: 16px; font-weight: bold; color: #dd4929; }
.info-list tr.total td { font-size: 14px; font-weight: bold; color: #dd4929; }

.itemNum{ padding:0; border-radius:0; vertical-align:middle; font-size:18px; font-weight:bold; height:28px; line-height:28px; text-align:center;}

/*纭璁㈠崟*/
.addressInfo{ background:#697486; color:#fff;}
.addressInfo ul li{ line-height:180%;}
.addressInfo ul li img.right{ width:8px;}
.addressInfo .title{ color:#c8cbd1;}

.payList{ background: #fff url(./../images/border-bg01.png) repeat-x bottom left; background-size: 6px;}
.pay-list-info .item-sort{ padding:10px 0;}
.pay-list-info .item-img-small01{ width:50px; height:50px; overflow:hidden;}
.pay-list-info .item-img-small01 img{ width:50px !important; min-height:50px; border-radius:4px;}
.pay-list-info .item-info{ padding-left:10px; width:500px;}
.price-num{ text-align:right; vertical-align:top; padding-right:10px;}
.pay-list-info .item-price{ padding-left:0;}

.exchang-fixed .btn-check-pay{ padding:0 10px; min-width:80px; text-align:center; color: #fff; height: 56px; line-height: 56px; font-size: 16px; }

/*鎴戠殑璁㈠崟*/
.order-tab li{ position:relative; text-align:center !important;}
.order-tab li .on{ background-position:0 -21px;}
.order-icon01{ display:block; position:relative; margin:13px auto 0; width:24px; height:21px; background:url(./../images/order-icon01.png) no-repeat; background-size:24px 42px;}
.order-icon02{ display:block; position:relative; margin:13px auto 0; width:23px; height:21px; background:url(./../images/order-icon02.png) no-repeat; background-size:23px 42px;}
.order-icon03{ display:block; position:relative; margin:13px auto 0; width:16px; height:21px; background:url(./../images/order-icon03.png) no-repeat; background-size:16px 42px;}
.order-icon04{ display:block; position:relative; margin:13px auto 0; width:21px; height:21px; background:url(./../images/order-icon04.png) no-repeat; background-size:21px 42px;}
.order-tab li .item-num{ position:absolute; top:-7px; right:-7px; font-size:10px; font-weight:normal; color:#fff; line-height:12px; padding:3px 5px 0; border-radius:10px;}
.h70{ height:74px !important;}
.check-pay{ padding:10px 0; border-bottom:1px solid #ecebeb; overflow:hidden;}
.check-pay span.left{ line-height:20px;}

.my-order .con{ padding:0;}
.my-order .item-img-small{ padding:0 10px 0 0;}
.my-order .item-sort{ margin:0 10px; padding:10px 0;}
.my-order .item-price{ padding:15px 0;}
.my-order .order-info{ margin:0 10px 10px; padding:10px 0 0 0; line-height:1.2; overflow:hidden;}
.btn-check{ border:none; border-radius:4px; width:76px; margin-right:10px; padding:0 10px; color:#fff; height: 32px; line-height: 32px; font-size: 14px; }
.border-box{ width:auto !important; padding-bottom:30px; border:1px solid #ecebeb; border-bottom:0; background:#fff url(./../images/border-bg01.png) repeat-x bottom left; background-size:6px;}
.btn-post{ background:#fff; color:#e34b58; border:1px solid #e34b58;}

.prompt-text{ padding:50px; text-align:center; font-weight:normal; color:#8e8e93}

/*浼氬憳涓績*/
.user-info{ height:65px; margin:0 10px; padding:10px 0; background:#fff;}
.user-info li.user-img .left{ width:65px; height:65px; border-radius:40px; margin-right:10px;}
.user-info li.user-img .right{ width:10px; margin-top:-30px;}
.user-info li.user-img .user-name{ display:block; padding-top:10px; line-height:20px;}
.user-info li{ font-size:14px; line-height:36px;}
.user-center-menu{ padding:10px 0 20px; overflow:hidden;}
.user-center-menu li{ position:relative; width:25%; float:left; text-align:center;}
.user-center-menu li a{ height:40px; font-size:16px; border-right:1px solid #ecebeb;}
.user-center-menu li:last-child a{ border:0;}
.user-center-menu li .item-num{ position:absolute; top:-7px; right:-7px; font-size:8px; font-weight:normal; color:#fff; line-height:12px; padding:1px 4px 0; border-radius:10px;}
.rank{ padding:0 3px; border-radius:2px; background:#e34b58; color:#fff; text-align:center;}

.user-menu-list{ margin-left:10px; tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}
.user-menu-list li{ padding-right:10px; height:60px; line-height:60px; font-size:16px; border-bottom:1px solid #ecebeb;}
.user-menu-list li:last-child{ border:0;}
.user-menu-list li img{ width:10px; margin-left:10px; vertical-align:middle;}
.user-menu-list li a{ tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); }

.input-text{ height:36px; line-height:36px; font-size:14px; text-indent:0.5em; color:#232736; border:0; outline:none;}
.input-btn{ height:40px; line-height:40px; text-align:center; font-size:14px; border:0; background:#fff; outline:none;}
.btn-on{ background: #e34b58; color:#fff;}

.register-list{ background:#fff;}
.register-list li{ margin-left:10px; padding:10px 10px 10px 0; overflow:hidden;}
.btn-submit{ width:100%; color: #fff; text-align:center; border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; border:0; outline:none;}

.user-info-title{ height:auto !important; padding:10px 0 6px;}

.address-info{ width:18px !important;}
.add-icon{ width:24px !important;}
.btn-edit, .pointer{ cursor:pointer;}

.popup-box-main{ position:absolute; z-index:1000; width:100%; height:100%; left:0; right:0; top:0; bottom:0; overflow-y:hidden; display:none;}
.pop-main{ position:fixed; z-index:2; left:0; right:0; top:300px; bottom:0; margin-top:15%; overflow-y:scroll; transition: top 0.2s ease-in-out; -moz-transition: top 0.2s ease-in-out; /* Firefox 4 */ -webkit-transition: top 0.2s ease-in-out; /* Safari and Chrome */ -o-transition: top 0.2s ease-in-out;}
.pop-main-click{ top:0;}
.pop-main .item-standard{ border:none !important; padding:0 10px 80px;}
.pop-main .item-title{ position:fixed; height:auto; padding:10px; z-index:99; top:300px; margin-top:15%; left:0; right:0; background:#fff; transition: top 0.2s ease-in-out; -moz-transition: top 0.2s ease-in-out; /* Firefox 4 */ -webkit-transition: top 0.2s ease-in-out; /* Safari and Chrome */ -o-transition: top 0.2s ease-in-out;}
.pop-main .item-title-click{ top:0;}
.pop-main .item-title .left img{ width:70px; margin-right:10px; border-radius:4px;}
.pop-main .item-title .selected{ line-height:20px;}
.pop-main .size{ position:relative; z-index:1; margin-top:100px;}
.pop-main .standards{ padding-left:0;}
.pop-up-btn{ position:fixed; z-index:2; left:0; right:0; bottom:0; background:#fff; padding:15px 0; text-align:center;}
.pop-up-btn a { display: block; margin: 0 auto; padding:0 10px; width:70px; text-align:center; color: #fff; border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; }

.pop-server{ position:fixed; z-index:2; left:0; right:0; bottom:-126px; overflow:hidden; transition: bottom 0.6s ease-in-out; -moz-transition: bottom 0.6s ease-in-out; /* Firefox 4 */ -webkit-transition: bottom 0.6s ease-in-out; /* Safari and Chrome */ -o-transition: bottom 0.6s ease-in-out;}
.pop-server-click{ bottom:0;}
.pop-code{ position:fixed; display:none; z-index:3; left:0; right:0; top:30%; background:none; overflow:hidden; transition: top 0.6s ease-in-out; -moz-transition: top 0.6s ease-in-out; /* Firefox 4 */ -webkit-transition: top 0.6s ease-in-out; /* Safari and Chrome */ -o-transition: top 0.6s ease-in-out;}
.pop-code-click{ top:15%;}
.share-code{ margin:0 10%; background:#fff; padding-bottom:40px; border-radius:4px; text-align:center; line-height:180%;}
.share-code h3{ font-size:16px; height:40px; line-height:40px; text-align:center;}
.share-code-img{ margin:30px auto 0;}
.share-code-close{ margin-top:20px; text-align:center; cursor:pointer;}
.share-code-close img{ width:36px;}

.go-top{ position: fixed; width:40px; height:40px; line-height:100%; font-size:12px; text-align:center; right:10px; bottom: 80px; background:rgba(255,255,255,0.8); border:1px solid #fff; border-radius:30px; z-index: 999; cursor:pointer;}
.go-top img{ width:16px; margin-top:5px;}

.standards-selected{ display:inline-block; margin:6px 0 0 0; vertical-align:middle; width:104px; padding:2px 10px; border:1px solid #ecebeb; cursor:pointer; overflow:hidden;}
.standards-selected .on{ border:1px solid #e03846; background:url(./../images/item-selected.jpg) no-repeat right bottom;}
.standards-selected img{ width:10px; margin-top:10px;}

.bgblack{ position:absolute !important; width:100%; height:100%; background:#000; opacity:0.5; z-index:1; left:0; right:0; top:0; bottom:0;}

.radio-check-box{ display:inline-block; text-indent:1.5em; vertical-align:middle; margin-top:-2px; height:16px; line-height:16px; background:url(./../images/bill-checked.png) no-repeat left top;}
.radio-checked{ background-position:0 -16px;}
.bill-check{ display:inline-block; text-indent:1.5em; vertical-align:middle; margin-top:-2px; height:21px; line-height:21px; background:url(./../images/bill-checked01.png) no-repeat left 2px;}
.bill-checked{ background-position:left -21px;}

.bill-selected{ text-indent:1.5em; color:#232736; background:url(./../images/bill-selected.png) no-repeat center left;}

.w10 { width: 10px; }
.w13 { width: 13px; }
.w50 { width: 50px !important; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w150 { width: 150px; }
.w500 { width: 500px; }
.wp80{ width: 76%;}
.wp100{ width: 100%;}

footer { background: #fff; border-top: 1px solid #ecebeb; z-index: 999; padding: 10px 0; }
footer p { text-align: center; font-size: 12px; color: #a19992; }

.bgorange { background: #fdad02; }
.bggreen { background: #3cb158; }
.bgred { background: #f2482c; }
.bgwhite{ background:#fff !important;}


/*20150416 棣栭〉璐墿杞�*/
.coupon-list-icon{ position:fixed; left:0; bottom:60px; background: rgba(242, 151, 8, 0.95); padding:9px 15px 8px 12px; border-top-right-radius:6px; border-bottom-right-radius:6px; font-size:12px; text-align:center; z-index: 999;}
.w22{ width:22px;}
.shopping-cart-index{ position:fixed; left:0; bottom:110px; padding:9px 15px 8px 12px; background:#1bb531; border-top-right-radius:6px; border-bottom-right-radius:6px; font-size:12px; text-align:center; z-index: 999;}
.shopping-cart-index img{ width:22px;}
.shopping-cart-index .item-num{ position:absolute; top:3px; right:3px; z-index: 9; font-size:10px; font-weight:normal; color:#3cb158; line-height:11px; padding:2px 4px 0; border:2px solid #3cb158; outline:none; border-radius:20px;}

.float-menu{ position: fixed; bottom: 30px; left: 7px; border-radius:6px; font-size:12px; text-align:center; z-index: 999; overflow: hidden;}
.float-menu .coupon-list-icon, .float-menu .shopping-cart-index{ float: left; position: initial; border-radius:0; background:#1bb531; padding:9px 15px 8px 12px;}

/*鍏虫敞鍏紬鍙锋寜閽�*/
.jfq-btn{ width:100%; color:#fff; font-size:14px; bottom:0; background:rgba(35, 39, 54, 0.95);}
.jfq-btn a{ color:#fff;}
.jfq-btn img{ vertical-align:middle;}
.jfq-btn img.img01{ width:90px; margin-left:-10px;}
.jfq-btn img.img02{ width:160px; margin-left:20px;}

/*娑堣垂鍒稿垪琛�*/
.prizeListBox{ tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); outline:none;}

.prize-check{ width:20px; margin-top:7px;}
.prize-info{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.record-list{ margin:0 10px 0; padding:15px 20px 15px 10px; background:#4ea9f3;}
.head-img01{ background:#3c8fd4; width:50px; height:50px; border-radius:90px;}
.head-img01 img{ display:block; width:50px; height:50px; border-radius:90px;}
.record-txt{ min-width:140px; color:#fff; font-size:14px; padding:0 0 0 10px; line-height:140%; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.money{ width:70px; font-weight:normal; font-size:20px; text-align:right; color:#fff;}
.un-use{ margin-left:5px; font-size:12px; color:#fff; padding:2px 5px; border-radius:2px;}

/*鏀粯鎴愬姛*/
.paid-info{ background:#fff;}
.paid-info .f18{ color:#3cb158;}
.paid-icon{ width:25px; vertical-align:middle; margin:-5px 10px 0;}
.paid-num{ font-size:36px; color:#232736;}

.list-name{ display:inline-block; width:80px; color:#8e8e93;}

/*璐墿杞﹀姩鐢�*/
.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

.rotateOut {
  -webkit-animation-name: rotateOut;
          animation-name: rotateOut;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

 @media only screen and (min-width:560px) {
	.tabBox, .sectionBox, .divide-box, .exchang-fixed { width: 560px; }
}
 @media only screen and (max-width:559px) {
	.tabBox, .sectionBox, .divide-box, .exchang-fixed { width: 100%; }
	.head-img01{ width:36px; height:36px;}
	.head-img01 img{ width:36px; height:36px;}
	.record-txt{ min-width:140px;font-size:12px;}
	.record-txt .f18{ font-size:14px !important;}
	.money{ width:60px; font-weight:normal; font-size:16px; color:#fff;}
}

/*20160316 鐣岄潰淇敼*/
.bggradient{ background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2)); border-top:1px solid #ceced2; border-bottom:1px solid #ceced2; border-width:1px 0 1px 0; border-image:url(./../images/border.gif) 2 0 stretch; height: 54px; line-height: 54px;}
.address-fill{ padding: 10px 15px; border: 1px solid #ceced2; border-radius: 4px;}

.lineheight36{ line-height: 36px;}
.heightp100{ height: 100%;}
.minheight100{ min-height: 100%;}
.minwidth90{ min-width: 90px;}
.ptb30{ padding: 30px 0;}
.ptb25{ padding: 25px 0;}
.ptb5{ padding: 5px 0;}
.mtop15{ margin-top: 15px;}
.p1510{ padding: 15px 10px;}
.m1510{ margin: 15px 10px;}
input::-webkit-input-placeholder { color: #8e8e93 !important;}
.lineheight140{ line-height: 140%;}
.lineheight110{ line-height: 110%;}
.overhidden{ overflow: hidden;}
.overvisible{ overflow: visible;}

.wrap-bg{ position: absolute; height: 100%; top: 0; bottom: 0; background:rgba(35,39,54,0.7); overflow: hidden; z-index: 9999;}
.tips-box{ position: absolute; top: 45%; width: 90%; margin: -80px 0 0 5%; border-radius: 8px; font-size: 14px; background: #fff;}

.item-list-small div.red.f16.bold.mtop5.m010{ width: 80px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.item-list-small div.market-price-small.left{ width: 50px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/*20160412 娑堣垂鍒告牱寮忔洿鏂�*/
.new-ticket-check{width: 40px; position: absolute; top: -4px; right: 10px; margin-top: 0; z-index:999;}
/*---娑堣垂鍒稿垪琛�--*/  
.get-record{ margin:20px 0;}
.record-list-bg{ display:block; margin:0 10px 10px; background:#4ea9f3; border-radius:8px; overflow:hidden;}
.record-list{ margin:5px 0 0; padding:15px 10px; background:#ffffff; border:1px solid #e5e5e7;}
.record-txt{ color:#232736; font-size:14px; padding:2px 0 0 5px; line-height:140%;}
.money{ width:70px; font-weight:normal; font-size:20px; color:#4ea9f3; text-align:right;}

.out-of-date{ background:#8f8e94;}			
.out-of-date .head-img01{ background:#8f8e94;}
.out-of-date .money{ color:#8f8e94;}
/*澧炲姞棰滆壊鍒嗙被*/
.bgred{ background:#f2482c }
.bggold{ background:#fdddae;}
.color-red{ color:#f2482c }
.bggreen01{ background:#42953e }
.color-green{ color:#42953e }
.color-gold{ color: #fdddae;}

.mleft3{ margin-left: 3px;}
.mleft5{ margin: 0 0 0 5px;}
.new-ticket-num{ margin:0 10px 0 0; padding-right: 2px; width: 70px; text-align: center; color: #f2482c; font-size: 20px;}
.f30{ font-size: 30px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}
.f50{ font-size: 50px; line-height: 50px;}
.mtop30{ margin-top: 30px;}
.m015{ margin: 0 15px;}
.pb15{ padding-bottom: 15px;}
.noborderleft{ border-left: none;}

/*棣栭〉澧炲姞鎸夊煄甯傞厤缃産anner*/
.get-city-arrow{ margin:-3px auto 0; width:14px; height:8px; background:url(./../images/icon_city_arrow.png) 0 0 no-repeat; background-size:14px auto;}
.disinline{ display: inline-block;}
.password-mind-box{ padding:10px 0; background:#f5f5f9;}

.mleft15 { margin-left: 15px; }
input,select {-webkit-appearance: none; margin:0; padding:0;}
select.input-text{ font-family:"Microsoft Yahei", sans-serif;}
.item-standard-name{ min-width:85px;}
.list-arrow{ background:url(./../images/arrow-right.png) center right no-repeat; background-size:10px auto;}
.noradius{ border-radius:0; height:58px; border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(./../images/border.gif) 2 0 stretch;}
.text-indent0{ text-indent:0;}

/*鍟嗗搧璇︽儏椤靛浘鐗囧搴旀枃瀛楁弿杩�*/
.img-desc-text-box{  margin: 5px 0 15px 0; font-size: 14px; line-height: 140%; overflow: hidden;}

/*澧炲姞閾炬帴 鏌ョ湅褰遍櫌锛屽湪绾胯搴�*/
.box-arrow{ height:36px; line-height:36px; font-size:16px; padding-right:20px; background:url(./../images/arrow-right.png) center right no-repeat; background-size:10px auto;}
.list-box{ padding:5px 10px; overflow:hidden;}
.icon-new{ vertical-align: middle; margin:-2px 0 0 10px; font-size: 12px; height: 13px; line-height: 12px; padding: 0 5px; border-radius: 6px; color: #fff;}
.lineheight24{ line-height:24px;}
.lineheight22{ line-height:22px;}

/*==========锟斤拷锟铰诧拷锟斤拷锟斤拷Validform锟斤拷锟斤拷锟�===========*/
.Validform_checktip{ overflow:hidden; color:#999; font-size:12px;
}
.Validform_right{ color:#71b83d; padding-left:20px; background:url(./../images/right.png) no-repeat left center; height: 20px; line-height:20px; display: inline-block; vertical-align: middle; margin-left: 5px;
}
.Validform_wrong{ color:red; padding-left:20px; margin-left:5px; white-space:nowrap; background:url(./../images/error.png) no-repeat left center;
}
.Validform_loading{ padding-left:20px;
}
.Validform_error{}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; background:#232736; border-radius:4px; position:absolute; top:0px; right:50px; z-index:99999; display:none;}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#232736; border-top-right-radius:4px; border-top-left-radius:4px;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:15px 8px; text-align:center; border-radius:4px; font-family:"microsoft yahei","锟斤拷锟斤拷"; background:#232736; color:#fff;}

/*鍙幏寰楁秷璐瑰埜20160524*/
.couponAvailableList{ position: fixed; background: #ffefd8; bottom:56px; z-index: 999;}
.couponAvailableList ul li{ height: 32px; line-height: 32px; font-size: 14px; border: none !important;}
.couponAvailableList ul li img{ margin-top: -2px;}
.height10{ height: 10px;}
.width18{ width: 18px !important;}
.mleft38{ margin-left: 38px;}
.lineheight38{ line-height: 38px !important;}
.mtb5{ margin: 5px 0;}
.orange { color: #f29708; }
.couponAvailable{vertical-align: super; margin-right: 5px; border: 1px solid #c6c6c9; height: 18px; line-height: 18px; font-size: 12px; border-radius: 2px; padding:2px 4px;}

/*娑堣垂鍒告牱寮忚皟鏁�20160715*/
.icon_close{ float: right; width: 30px; height: 30px; line-height: 30px; text-align: center; margin: -25px 0 0 0; }
.icon_close img{ width: 14px; height: 14px;}
.pop-bg{ z-index: 1; opacity: 0;}
.pop-bg01{ z-index: -1; opacity: 0;}
.tips-info{ position: relative; z-index: 2;}

/*==========浠ヤ笅閮ㄥ垎鏄疺alidform蹇呴』鐨�===========*/
.Validform_checktip{ overflow:hidden; color:#999; font-size:12px;
}
.Validform_right{ color:#71b83d; padding-left:20px; background:url(./../images/right.png) no-repeat left center; height: 20px; line-height:20px; display: inline-block; vertical-align: middle; margin-left: 5px;
}
.Validform_wrong{ color:red; padding-left:20px; margin-left:5px; white-space:nowrap; background:url(./../images/error.png) no-repeat left center;
}
.Validform_error{}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:220px; background:#fff; border-radius:4px; position:absolute; top:0px; right:50px; z-index:99999; display:none;}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#232736; border-top-right-radius:4px; border-top-left-radius:4px;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:15px 8px; text-align:center; border-radius:4px; font-family:"microsoft yahei","瀹嬩綋"; background:#232736; color:#fff;}

/*20160823閫佹秷璐瑰埜锛屾秷璐瑰埜璺宠浆*/
.m020{ margin: 0 20px;}
.m060{ margin: 0 60px;}
.pleft10{ padding-left: 10px !important;}
.tip-close-text{ position: absolute; bottom: -30px; left: 50%; margin-left: -32px; color: #fff;}
.voucher-pop-num{ margin-top: -6px;}
.new-ticket-num span{ vertical-align: middle;}

.bgloading{ background:#ebebf2 url(./../images/prev_img.jpg) no-repeat center; background-size:180px auto;}
.bgsize110{ background-size:110px auto;}
.itemDetails-img{ width: 100vw !important; height: calc((473 / 560) * 100vw) !important; max-width: 560px; max-height: 473px;}
.itemDetails-img ul li{ width: 100%; height: calc((473 / 560) * 100vw) !important;}
.itemDetails-img ul li img{ max-width: 560px; max-height: 473px;}

/*轻应用楼下店20170710*/
.store-shoppingcart{ width: 42px; height: 42px; margin: 0; padding: 0;}
.store-shoppingcart img{ width: 100%; margin: 0;}

.loading{text-align:center;height:36px;line-height:36px}
.loading img{vertical-align:middle;margin-top:-3px;width:16px}

.pop-tips{ margin:0 auto; position:fixed; width:100%; top:45%; overflow:hidden; z-index:999;}
.pop-tips-text{ margin:0 auto; padding:10px 15px; width:160px; line-height:20px; text-align:center; background:#232736; color:#fff; border-radius:4px;}

.store-item-img, .store-item-img img{ width: calc((100vw * 182) / 580); height: calc((100vw * 182) / 580); max-width: 182px; max-height: 182px;}
/* ios下多出1像素高度，需在外容器剪掉1像素 */
.slideBox.store-banner{ width: calc(100vw - 20px) !important; height: calc((261 / 560) * (100vw - 20px) - 1px) !important; max-width: 560px; max-height: 261px; }
.slideBox.store-banner .bd ul li img{ width: calc(100vw - 20px) !important; height: calc((261 / 560) * (100vw - 20px)) !important; max-width: 560px; max-height: 261px; }
.tab-menu{ height: 38px; background: #fff; position: sticky; position: -webkit-sticky; top: -1px;}
.box-shadow{ -webkit-box-shadow:0 4px 5px rgba(0,0,0,0.08); border-radius: 2px;}

.slideBox.store-banner .hd{ height: 8px;}
.slideBox.store-banner .hd li{ width: 12px; height: 2px; margin: 0 1px; background: #f9f9f9; border-radius: 0; opacity: 0.5;}
.slideBox.store-banner .hd li.on{ background: #fff; opacity: 1;}

.sell-date li{/* float: left; width: 100px !important;*/ display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; height: 36px; line-height: 36px; text-align: center; font-size: 14px; background: none !important;}
.nomuch-type li{ -webkit-justify-content: flex-start; justify-content: flex-start; margin-left: 10px;}       
.swiper-slide.red{ border-bottom: 2px solid #f2482c;}     
.sell-date .swiper-slide.red{ border-bottom: 0;}     
.sell-date .swiper-slide.red div{ height: 100%; border-bottom: 2px solid #f2482c; margin-bottom: -2px;}    

.opacity0{ opacity: 0;}
#loadingToast{ position: absolute; top: 0; width:100%; height: 48px; background: #666; z-index: 99;}
.store-item-title{ position: absolute; top: 10px; min-height: 70%;}

.mb5{ margin-bottom: 5px;}
.word-break2{ word-break: break-all; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.word-break1{ word-break: break-all; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.nav-fixed{ position: fixed; top: 0; left: 0; right: 0;}
.ptop30{ padding-top: 30px;}
.common-title{ padding: 25px 0 15px;}
.shadow-grey{ background-image: -webkit-linear-gradient(-90deg, rgb(250, 250, 250), #fff);}
.title-shadow{ background: url(./../images/title_shadow.png) repeat-x;}
.radius4{ border-radius: 4px;}
.radius2{ border-radius: 2px;}

#limitBuyBox .swiper-wrapper, #limitBuyBox .swiper-slide, #hotItemsBox .swiper-wrapper, #hotItemsBox .swiper-slide{ height: auto;}
.storelist-minheight{ min-height: calc(100vh - 50px);}
.padding-tab{ padding-top: 39px !important;}
.aligntop{ vertical-align: top}
#storeInfo{ height: 14px;}

#storeImgBox{ max-height: 240px; overflow: hidden;}
.store-img{ max-width: calc((100vw - 20px) / 2); max-height: 240px;}
#storeImgBox .swiper-wrapper, #storeImgBox .swiper-slide{ height: auto;}

.deliver-box{}
.mleft_20{ margin-left: -20px;}
.heightauto{ height: auto;}
.padding05{ padding: 0 5px; width: 22px !important;}
.border-left-radius{ border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.border-right-radius{ border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.border-left-radius2{ border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
.border-right-radius2{ border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
.border-right-radius0{ border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
.border-black{ border: 1px solid #4a4b5b}
.indent10{ text-indent: 10px;}
.ptb8{ padding: 8px 0;}
.search-box{ position: fixed; top: 0; left: 0; right: 0; z-index: 99;}
.search-box.iosfixed{ position: sticky !important;}
.search-list.iosfixed{ padding: 0 0 20px 0 !important;}
.btn-search{width: 50px; margin-right: 10px; cursor: pointer; text-align: center; height: 33px; line-height: 33px; color: #fff; background: #09F; border-top-right-radius: 4px; border-bottom-right-radius: 4px;}

/* 停车场列表20171208 */
#searchListBox{ padding: 0 0 20px 0; z-index: 1; overflow: scroll; position: fixed; left: 50%; top: 54px; bottom: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%)}